.beam.beam-uploader-progress .uppy-StatusBar {
  max-width: 350px;
  background-color: transparent !important;
  margin-top: 15px !important;
}
.beam.beam-uploader-progress .uppy-StatusBar-progress {
  height: 4px !important;
}
.beam.beam-uploader-progress .uppy-StatusBar-content,
.beam.beam-uploader-progress .uppy-StatusBar-actions {
  margin-top: 10px !important;
}
.beam.beam-uploader-progress button[title="Pause"] {
  margin-right: 5px !important;
}
